:root{
    --violet: #702cf9;
}
body{
    margin-top: 5rem;
    background-color: azure;
}
nav{
    background-color: var(--violet);
}
main{
    padding-top: 1rem;
    
}

.active-star{
    color: rgb(231, 202, 39);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}